<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <!-- <button (click)="downloadResume()">Hire Me</button> -->

        <li><a href="mailto:navkantraj1997@gmail.com" target="_blank"><i class='bx bxl-gmail'></i></a></li>
        <!-- <li><a href="https://www.facebook.com"><i class='bx bxl-facebook-circle'></i></a></li> -->
        <li><a href="https://www.instagram.com/_navkant_yadav" target="_blank"><i class='skill-icons--instagram'></i></a></li>
        <li><a href="https://www.linkedin.com/in/navkantyadav7000015046" target="_blank"><i class='skill-icons--linkedin'></i></a></li>
        <li><a href="https://github.com/navkant123" target="_blank"><i class='mdi--github'></i></a></li>
        <li><a href="https://wa.me/7808170914" target="_blank"><i class='logos--whatsapp-icon'></i></a></li>
        

    </ul>

    <ul class="contact-info">
        <button class="resume" (click)="downloadResume()">Hire Me</button>
        <li><i class="tdesign--call-1"></i> : <a href="tel:+7808170914" class="mobile-number">7808170914</a></li>
        <li class="hover-gmail"><i class="bx bxl-gmail"></i> : navkantraj1997@gmail.com</li>
    </ul>
</div>